<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button (click)="applyWildcard()" [disabled]="disableWildcard">
      <ion-icon slot="icon-only" name="gift"></ion-icon>
      <ion-badge color="danger">1</ion-badge>
    </ion-button>
  </ion-buttons>
  <ion-title color="dark">Pregunta <strong>{{questionNumber}} de 10</strong></ion-title>
  <ion-buttons slot="primary">
    <ion-button color="secondary">
      Error&nbsp; <strong>{{errorsCommitted}} de 2</strong>
    </ion-button>
  </ion-buttons>
</ion-toolbar>