<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button (click)="applyWildcard($event)" id="wildcard" [disabled]="disableWildcard" #wildcard>
      <ion-icon slot="icon-only" name="gift"></ion-icon>
      <ion-badge color="danger">{{wildcardsRemaining}}</ion-badge>
    </ion-button>
  </ion-buttons>
  <ion-title color="dark">Pregunta <strong>{{questionNumber}} de {{numberOfQuestions}}</strong></ion-title>
  <ion-buttons slot="primary">
    <ion-button color="secondary" (click)="errorsTutorialFn($event)" #errors>
      <strong>{{lifes}}</strong>&nbsp;vidas
    </ion-button>
  </ion-buttons>
</ion-toolbar>