<pantano-header></pantano-header>
<ion-content [scrollEvents]="true">
    <main>
        <section>
            <form name="form" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm">
                <ion-searchbar id="searcher" name="newFilter" placeholder="Escribe para filtrar" cancel-button-icon="md-arrow-back"
                    search-icon="search" (ionChange)="submitForm()" [(ngModel)]="model.newFilter" #newFilter="ngModel"></ion-searchbar>
            </form>
            <div id="filters" class="ion-padding" *ngIf="categoryActive.keywords.length > 0">
                <p class="ion-margin-bottom">Filtros predeterminados por categoría</p>
                <ion-chip *ngFor="let categoryFilter of categoryActive.keywords">
                    <ion-label>{{categoryFilter}}</ion-label>
                </ion-chip>
            </div>
        </section>
        <section>
            <pantano-loader-cards *ngIf="loading"></pantano-loader-cards>
            <div *ngIf="!loading">
                <pantano-question-card *ngFor="let question of questionsInScroller" [question]="question"></pantano-question-card>
            </div>
            <p class="ion-margin-top" class="ion-padding" *ngIf="questionsInScroller.length < 1 && !loading">Su búsqueda no ha generado resultados</p>
            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </section>
    </main>
</ion-content>
<ion-tab-bar slot="bottom">
    <ion-tab-button tab="category.value" [selected]="category.value === categoryActive.value" *ngFor="let category of categories"
        (click)="categoryFilter(category)">
        <ion-icon [name]="category.icon"></ion-icon>
        <ion-label>{{category.description}}</ion-label>
    </ion-tab-button>
</ion-tab-bar>