:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    h2{
        margin: 25px 0px;
        font-size: 31px;
        text-align: center;
        font-family: monospace;
        font-weight: 700;

        &.green{
            color: #366B38;
        }
        &.orange{
            color: #E87F30;;
        }
    }

    img {
        align-self: center;
    }
}