<pantano-header></pantano-header>

<ion-content *ngIf="start">
    <main>
        <pantano-title-bar [game]="game$"></pantano-title-bar>
        <pantano-stats-bar [game]="game$"></pantano-stats-bar>     
        <pantano-animation [animation]="animation$"></pantano-animation>   
        <pantano-timer [game]="game$" [animation]="animation$" (event)="childEvent($event)"></pantano-timer>
        <pantano-wildcard-bar [game]="game$" [animation]="animation$" (event)="childEvent($event)"></pantano-wildcard-bar>
    </main>
</ion-content>
<ion-footer *ngIf="start">
    <ion-toolbar color="dark">
        <pantano-question [game]="game$" [animation]="animation$" (event)="childEvent($event)"></pantano-question>
    </ion-toolbar>
</ion-footer>