:host {
    ion-content {
        main {
            display: grid;
            grid-template-rows: auto minmax(10px, 1fr) auto auto auto;
            height: 100%;

            ion-toolbar {
                padding: 20px 0px;
            }
        }
    }

    .toolbar-title {
        white-space: normal !important;
        text-overflow: inherit;
    }
}