ion-content {
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }
}

ion-footer {
    ion-toolbar {
        padding: 20px 0px;
    }
}