.welcome-card {
  background: #997D5F;

  ion-img {
    max-height: 35vh;
    overflow: hidden;
  }

  ion-card-title, ion-card-subtitle, ion-card-content {
    color: white;
  }

}

ion-footer{
  p{
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }
}
